h1{
	text-align: center;
	color: #102152;
	font-family: tahoma;
}

#container{
	margin: auto;
	width: 960px;
	text-align: center;
}

#container ul li {
	display: inline-block;
	list-style-type: none;
	height: 20px;
	width: 20px;
	border: 1px solid black;
	margin: 0px 2px;
}

#container ul{
	margin: 0 0;
	padding: 0 0;
}

button {
	margin-bottom: 10px;
	height: 40px;
	width: 150px;
	font-size: 20px;
	color: #102152;
	background-color: #669999;
	border-color: #102152;
	border-radius: 10px;
	border-width: 3px;
	cursor: pointer;
	margin-right: 10px;
	margin-left: 10px;
	font-family: tahoma;
}

body {
	background-color: #B1B1CA;
}

li {
	background-color: white;
}