h1{
	text-align: center;
}

#container{
	margin: auto;
	width: 500px;
	height: 500px;
	text-align: center;
}

#container ul li {
	display: inline-block;
	list-style-type: none;
	height: 20px;
	width: 20px;
	border: 1px solid black;
	margin: 0px 2px;
}

#container ul{
	margin: 0 0;
	padding: 0 0;
}

#newGrid {
	margin-bottom: 10px;
	height: 40px;
	width: 150px;
	font-size: 20px;
}